# Copiar este archivo como .env.local y completar con los valores del proyecto Firebase
# NUNCA commitear .env.local al repositorio

VITE_FIREBASE_API_KEY=AIzaSyCIXigqDgevI_udU3ePE1MIehKe9FpXfy8
VITE_FIREBASE_AUTH_DOMAIN=tp-diosquez-ricci.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=tp-diosquez-ricci
VITE_FIREBASE_STORAGE_BUCKET=tp-diosquez-ricci.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=174844969753
VITE_FIREBASE_APP_ID=1:174844969753:web:f0742a180e0175d3187b88
# Email y contraseña del Admin (solo para el script de seed)
VITE_ADMIN_EMAIL=admin@foodapp.com
VITE_ADMIN_PASSWORD=cambiame123
